/* * * * * * * * * * * * * * * * * * * * * *
 *
 * VARIABLES
 *
 * * * * * * * * * * * * * * * * * * * * * */
:root {
  --dsk-tiny-margin-bottom: calc((40px + (100vh - 568px) / 6) / 1.8);
  --dsk-reg-margin-bottom: calc(40px + (100vh - 568px) / 6);
  --some-var: 120vh;
}

/* * * * * * * * * * * * * * * * * * * * * *
 *
 * WRAPPERS
 *
 * * * * * * * * * * * * * * * * * * * * * */
body {
  background-image: url('./gradient.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% calc(50% + 61px);
}

#libe-labo-app-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.le-jeu-du-sud {
  width: calc(100% - 4rem);
  margin: 2rem;
  background: #FFFFFF;
}

.intro-panel,
.game-panel,
.results-panel {
  display: none;
}

.le-jeu-du-sud_intro-mode .intro-panel {
    display: flex;
}

.le-jeu-du-sud_game-mode .game-panel {
    display: flex;
}

.le-jeu-du-sud_results-mode .results-panel {
    display: flex;
}

@media screen and (max-width: 63rem) {
  body {
    background-position: 50% calc(50% + 50px);
  }

  .le-jeu-du-sud {
    width: calc(100% - 1rem);
    margin: .5rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * *
 *
 * INTRO PANEL
 *
 * * * * * * * * * * * * * * * * * * * * * */
.intro-panel {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.intro-panel > img {
  max-width: 100%;
  margin-bottom: 2rem;
  margin-top: calc(var(--dsk-reg-margin-bottom) / 2);
  width: 18rem;
  height: auto;
}

.intro-panel > .lblb-page-title h1 {
  font-family: 'Libe-Sans-Semicondensed';
  color: #FD008C;
  text-align: center;
}

.intro-panel > .lblb-overhead span {
  font-family: 'Libe-Sans-Semicondensed';
  text-transform: none;
  color: #212121;
  text-align: center;
  margin-bottom: 2rem;
}

.intro-panel > .lblb-paragraph {
  text-align: center;
  padding: .5rem;
  max-width: 32rem;
}

.intro-panel > button {
  position: fixed;
  bottom: var(--dsk-reg-margin-bottom);
  padding: .5rem 1rem;
  border: none;
  background: #FD008C;
  border-radius: .25rem;
  box-shadow: 0 0 .5rem 0 rgba(33, 33, 33, .2);
  cursor: pointer;
}

.intro-panel > button .lblb-overhead {
  font-family: 'Libe-Sans-Semicondensed';
  font-weight: 800;
  letter-spacing: .05rem;
  color: #FFFFFF;
}

@media screen and (max-width: 63rem) {
  .intro-panel {
    padding: 1rem .5rem;
  }

  .intro-panel > img {
    width: 14rem;
    margin-bottom: 1rem;
  }

  .intro-panel > .lblb-overhead span {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 40rem) {
  .intro-panel > img {
    width: 10rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * *
 *
 * GAME PANEL
 *
 * * * * * * * * * * * * * * * * * * * * * */
.game-panel {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0rem;
}

.game-panel__counter .lblb-paragraph {
  font-family: 'Libe-Typewriter';
  font-weight: 400;
  margin-top: var(--dsk-tiny-margin-bottom);
  margin-bottom: var(--dsk-reg-margin-bottom);
}

.game-panel__city-name .lblb-overhead span {
  font-family: 'Libe-Sans-Semicondensed';
  text-transform: none;
  color: #212121;
  text-align: center;
  margin-top: 0;
  margin-bottom: var(--dsk-reg-margin-bottom);
}

.game-panel__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  margin-bottom: var(--dsk-reg-margin-bottom);
}

.game-panel__north-button,
.game-panel__south-button,
.game-panel__idk-button {
  padding: .5rem 1rem;
  border: none;
  border-radius: .25rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.game-panel__north-button {
  background: #009FE3;
}

.game-panel__south-button {
  background: #FFED00;
}

.game-panel__idk-button {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin-bottom: 0rem;
}

.game-panel__north-button .lblb-overhead span,
.game-panel__south-button .lblb-overhead span,
.game-panel__idk-button .lblb-overhead span {
  font-family: 'Libe-Sans-Semicondensed';
  text-transform: none;
}

.game-panel__north-button .lblb-overhead span,
.game-panel__north-button .lblb-paragraph {
  color: #FFFFFF;
}

/* * * * * * * * * * * * * * * * * * * * * *
 *
 * RESULTS PANEL
 *
 * * * * * * * * * * * * * * * * * * * * * */
.results-panel {
  padding: .5rem;
  margin-bottom: var(--dsk-reg-margin-bottom);
}

.results-panel__jauge,
.results-panel__map {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.results-panel__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results-panel__head > .lblb-overhead span {
  font-family: 'Libe-Sans-Semicondensed';
  text-transform: none;
  color: #212121;
  text-align: center;
  font-weight: 400;
  font-size: 2.2rem;
}

.results-panel__head > .lblb-overhead:nth-child(1) span {
  font-weight: 800;
  margin-top: calc(var(--dsk-reg-margin-bottom) / 2);
  font-size: 2.5rem;
}

.results-panel__text {
  max-width: 32rem;
  text-align: center;
  margin-top: calc(var(--dsk-reg-margin-bottom) / 2);
}

.results-panel__jauge {
  display: flex;
}

.results-panel__map {
  display: none;
}

.le-jeu-du-sud_map-results-mode .results-panel__jauge {
  display: none;
}

.le-jeu-du-sud_map-results-mode .results-panel__map {
  display: flex;
}

.results-panel__buttons {
  position: fixed;
  z-index: 20;
  bottom: calc(var(--dsk-reg-margin-bottom) / 2);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.results-panel__primary-button,
.results-panel__secondary-button {
  margin: .5rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: .25rem;
  box-shadow: 0 0 .5rem 0 rgba(33, 33, 33, .2);
  cursor: pointer;
}

.results-panel__primary-button {
  background: #FD008C;
}

.results-panel__secondary-button {
  background: #FFFFFF;
  border: 2px solid #CCCCCC;
}

.results-panel__primary-button .lblb-overhead,
.results-panel__secondary-button .lblb-overhead {
  font-family: 'Libe-Sans-Semicondensed';
  font-weight: 800;
  letter-spacing: .05rem;
  text-transform: none;
}

.results-panel__primary-button .lblb-overhead {
  color: #FFFFFF;
}

.results-panel__secondary-button .lblb-overhead {
  color: #FD008C; 
}

.results-panel__primary-button .lblb-paragraph {
  color: #FFFFFF;
}

.results-panel__secondary-button .lblb-paragraph {
  color: #FD008C;
}

/*.game-panel__idk-button .lblb-overhead span {
  font-family: 'Libe-Sans-Semicondensed';
  text-transform: none;
}

.game-panel__north-button .lblb-overhead span,
.game-panel__north-button .lblb-paragraph {
  color: #FFFFFF;
}*/

.results-panel__primary-button {

}

.results-panel__secondary-button {

}

/* * * * * * * * * * * * * * * * * * * * * *
 *
 * JAUGE
 *
 * * * * * * * * * * * * * * * * * * * * * */
.jauge {
  display: flex;
  max-width: calc(100% - 2rem);
  width: 32rem;
  height: calc(var(--some-var));
  justify-content: 'space-between';
  margin-top: calc(var(--dsk-reg-margin-bottom) / 2);
  position: relative;
}

.jauge__latitude-bar {
  width: calc(var(--some-var) * 64 / 696);
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: url(./jauge-latitude.svg);
  background-size: contain;
  background-position: center left;
  background-repeat: no-repeat;
  position: relative;
}

.jauge__votes-bar {
  width: calc(var(--some-var) * 83 / 696);
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  background-image: url(./jauge-votes.svg);
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
}

.jauge__markers {
  width: 100%;
  height: 100%;
  position: relative;
}

.jauge__markers-wrapper {
  position: absolute;
  height: 100%;
  left: calc(-1 * var(--some-var) * 7 / 696);
  right: calc(-1 * var(--some-var) * 71 / 696);
}

.jauge__marker-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .6;
}

.jauge__marker-wrapper:hover {
  z-index: 11;
  opacity: 1;
}

.jauge__up-difference-marker,
.jauge__down-difference-marker {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 1px;
  border: 1px solid rgba(33, 33, 33, .2);
  transform-origin: top left;
  cursor: pointer;
}

.jauge__marker-wrapper:hover .jauge__up-difference-marker,
.jauge__marker-wrapper:hover .jauge__down-difference-marker {
  border: 1px solid rgba(33, 33, 33, .7);
}

.jauge__up-difference-marker {
  bottom: 0;
}

.jauge__down-difference-marker {
  top: 0;
}

.jauge__latitude-marker {
  z-index: 5;
  position: absolute;
  width: 4px;
  height: 4px;
  transform: translate(-50%, -50%);
  left: 0;
  border-radius: .75rem;
  background: #212121;
  opacity: .5;
  cursor: pointer;
}

.jauge__vote-marker {
  z-index: 6;
  position: absolute;
  width: 2rem;
  height: 2rem;
  transform: translate(50%, -50%);
  right: 0;
  border-radius: 2.5rem;
  background: blue;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 .5rem 0 rgba(33, 33, 33, .2);
}

.jauge__city-marker {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  padding: .25rem;
  width: 1000px;
}

.jauge__city-marker .lblb-paragraph {
  background: rgba(255, 255, 255, .6);
}

@media screen and (max-width: 63rem) {
  .jauge {
    max-width: calc(100% - 10rem);
    align-self: flex-start;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 40rem) {
  .jauge {
    max-width: calc(100% - 7rem);
    align-self: flex-start;
    margin-left: .5rem;
  }
}

.france-map {
  position: relative;
  width: 100%;
  /*height: calc(0.985853 * (100vw - 2rem));*/
  max-width: 42rem;
  max-height: calc(0.985853 * 63rem);
  background-image: url(./france-map.svg);
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: var(--dsk-reg-margin-bottom);
}

.france-map__markers {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.france-map__marker {
  position: absolute;
  z-index: 6;
  width: 2rem;
  height: 2rem;
  transform: translate(-50%, -50%);
  border-radius: 2.5rem;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  box-shadow: 0 0 .5rem 0 rgba(33, 33, 33, .2);
}

.france-map__marker:hover {
  z-index: 7;
}

.france-map__vote-ratio-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Libe-Typewriter';
}

.france-map__name-marker {
  position: absolute;
  top: 50%;
  left: calc(100% + .5rem);
  transform: translate(0, -50%);
  background: rgba(255, 255, 255, .8);
}


/* * * * * * * * * * * * * * * * * * * * * *
 *
 * DEFAULT FOOTER & ERRORS
 *
 * * * * * * * * * * * * * * * * * * * * * */
.lblb-default-apps-footer {
  text-align: center;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.lblb-default-apps-footer .lblb-share-article {
  margin-top: 0;
  margin-bottom: var(--dsk-reg-margin-bottom);
}

.lblb-default-apps-footer .lblb-libe-labo-logo {
  margin-top: 0;
  margin-bottom: var(--dsk-reg-margin-bottom);
}

.lblb-default-apps-footer .lblb-paragraph {
  margin-top: 0;
  margin-bottom: calc(2.5 * var(--dsk-reg-margin-bottom));
}

.lblb-default-apps-footer .lblb-paragraph span {
  color: #777777;
}

.lblb-default-apps-error {
  top: 80px;
  flex-direction: column;
}
